-
  var userCompanionImage = "../app/images/avatar_4.jpg";
  var currentUser = "../app/images/avatar_1.jpg";

.message-container
  img.m-0.shadow-sm.avatar.d-md-block.d-none(src=userCompanionImage, alt="Аватар")
  .message.shadow-sm
    p.message-username Вениамин Редакторович
    p.message-text Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
    p.message-time 8 минут назад
.message-container.user-message
  img.m-0.shadow-sm.avatar.d-md-block.d-none(src=currentUser, alt="Аватар")
  .message.shadow-sm
    p.message-text Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
    p.message-time 8 минут назад
.message-container
  img.m-0.shadow-sm.avatar.d-md-block.d-none(src=userCompanionImage, alt="Аватар")
  .message.shadow-sm
    p.message-username Вениамин Редакторович
    p.message-text Лады
    p.message-time 5 минут назад
.message-container.user-message
  img.m-0.shadow-sm.avatar.d-md-block.d-none(src=currentUser, alt="Аватар")
  .message.shadow-sm
    p.message-text А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
    p.message-time 3 минуты назад
.message-container
  img.m-0.shadow-sm.avatar.d-md-block.d-none(src=userCompanionImage, alt="Аватар")
  .message.shadow-sm
    p.message-username Вениамин Редакторович
    p.message-text о_О
    p.message-time Только что