-
  var profile = {
      name: "Кодовёнок Хекслетович",
      description: "Милый и скромный помощник начинающих разработчиков. Люблю JavaScript",
      avatar: "../app/images/avatar_1.jpg",
      country: "Москва, Россия",
      phone: "+7 (499) 123-45-67",
      email: "nikita.m@hexlet.io",
      twitter: "@n_mikhaylov",
  }

.h-100.hide-scrollbar.tab-pane.fade(id="profile" role="tabpanel" aria-labelledby="profile-tab")
  form.form-search.pt-5.px-4.mb-5
    label.form-label.d-none(for="search-profile")
    h2.fw-bold.mb-4 Профиль
    input(type="text", placeholder="Поиск по сообщениям", id="search-profile").form-control.p-4.shadow-none.border-0.border-bottom
  .card.border-0.px-4
    .d-flex.flex-column.align-items-center.text-center.mb-3.pt-5.px-4 
      img.rounded-circle.mb-3(src=profile.avatar, alt="Аватар", width="90px")
      .fw-bold.mb-3= profile.name
      .text-muted= profile.description
    .card-body
      ul.list-group
        li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.border-bottom
          div
            .text-muted.small Страна
            .small.text-dark= profile.country 
          img(src="../app/images/icons/globe.svg", alt="Иконка глобуса", width="16px", height="16px")
        li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.border-bottom
          div
            .text-muted.small Телефон
            a.small.text-dark.text-decoration-none(href="tel:+74991234567")= profile.phone
          img(src="../app/images/icons/phone.svg", alt="Иконка телефона", width="16px", height="16px")
        li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.border-bottom
          div
            .text-muted.small Email
            a.small.text-dark.text-decoration-none(href="mailto:nikita.m@hexlet.io")= profile.email
          img(src="../app/images/icons/email.svg", alt="Иконка эл.почты", width="16px", height="16px")
        li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.border-bottom
          div
            .text-muted.small Twitter
            .small.text-dark= profile.twitter
          img(src="../app/images/icons/social.svg", alt="Иконка соц.сети", width="16px", height="16px")