-
  var chats = [
    {
      name: 'Вениамин Редакторович',
      message: 'o_O',
      time: '11:45',
      avatar: 'images/avatar_4.jpg'
    },

    {
      name: 'Джедай Падаванов',
      message: 'Привет, скоро третий проект? Уже скоро надо будет выложить',
      time: '10:12',
      avatar: 'images/avatar_2.jpg'
    },

    {
      name: 'Алексей Примадонин',
      message: 'Тесты упали >_<',
      time: '08:53',
      avatar: 'images/avatar_3.jpg'
    },
  ]

if page === 'index'
  .h-100.hide-scrollbar.tab-pane.fade(id='chats' role='tabpanel' aria-labelledby='chats-tab')
    form.form-search.pt-5.px-4
      label.form-label.d-none(for='search-chats')
      h2.fw-bold.mb-4 Чаты
      input.form-control.p-4.shadow-none.border-0.border-bottom(type='text' placeholder='Поиск по сообщениям' id='search-chats')
    .px-4.mt-5
      each chat in chats
        a.chat.mb-3(href)
          img.avatar(src=chat.avatar alt='Аватар')
          .chat-info
            .chat-info-first-line
              p.chat-name= chat.name
              p.chat-time= chat.time
            p.chat-message= chat.message
else
  .h-100.hide-scrollbar.tab-pane.fade.show.active(id='chats' role='tabpanel' aria-labelledby='chats-tab')
    form.form-search.pt-5.px-4
      label.form-label.d-none(for='search-chats')
      h2.fw-bold.mb-4 Чаты
      input.form-control.p-4.shadow-none.border-0.border-bottom(type='text' placeholder='Поиск по сообщениям' id='search-chats')
    .px-4.mt-5
      each chat in chats
        a.chat.mb-3(href) 
          img.avatar(src=chat.avatar alt='Аватар')
          .chat-info
            .chat-info-first-line
              p.chat-name= chat.name
              p.chat-time= chat.time
            p.chat-message= chat.message